
  .bg-1{
  text-align: center;
  margin-top: 50px;
  margin-left: 5px; 
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  border-bottom:1px solid lightgray;
  letter-spacing: 20px; 
}
 
  .ImgContainer{
      display: flex;
      flex-direction: column;
      margin-top: 500px;
      margin-bottom: 500px;
      margin-left: 200px;
      margin-right: 200px;
  }
  .ImgPosition{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  /* Navigation Bar Style-->Start */
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      font-family: 'Special Elite', cursive;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }
 /* Navigation Bar Style-->Finish */
 .footer {
    width: 100%;
    color:lightgray;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;  
  }