body{
    font-family: "Jost", sans-serif;
    font-size: 1.6rem;
    color:#4c4f52;
    background-color:#f9fbfc;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.6;}
 /* --------------------- */ 
.page-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    letter-spacing: 10px;
    align-items: center;}
/* --------------------- */ 
#navbar-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}
/* --------------------- */ 
.textCenter {
    text-align: center;}  

/* --------------------- */ 
.carousel-inner img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 200px;}
/* --------------------- */ 
#carousel_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 900px;}
/* --------------------- */ 
#container_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;}
/* --------------------- */ 
.col-sm-3 img{
    border-radius: 20px;}
/* --------------------- */ 
.space_50px{
    display: flex;
    flex-direction: row;
    margin: 50px;}

/* --------------------- */ 
.side-nav {
    display: flex;
    justify-content:center;
    align-items:baseline;
    flex-direction: column;
    margin-left: 10px;}
    .side-nav-text {
      display: flex;
      writing-mode: vertical-lr; }
      .side-nav-text p {
        padding: 1.5rem;
        transform: rotate(180deg);
        font-size: 1.6rem;}
    .side-nav-icon {
      display: flex;
      flex-direction: column; }
      .side-nav-icon i {
        padding: 2rem;
        transition: all .3s;
        cursor: pointer; }
        .side-nav-icon i:hover {
          color: #ac9872; }

/* --------------------- */ 
#navCarousel{
    display: flex;
    flex-direction: row;}
/* --------------------- */  
#footer_box{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:flex-end;
    background-color: #eeeeee;
    padding:48px 48px 60px 60px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 25px;
    border-radius: 5px;}

    #footer_box i:hover {
        transform: scale(1.1);
        color: #ac9872; }
    #footer_box a:hover{
        color: #ac9872;}
    @media only screen and (max-width:992px){
        #footer_box{
            justify-content: center;
            text-align: center;
        }


    }    
/* --------------------- */
#icon_footer_box{
    display: flex;
    flex-direction: row;
    width: 20%;
    padding-top: 1.6rem;
    justify-content:space-between;
    align-items: flex-end;}
    @media only screen and (max-width:992px){
        #icon_footer_box{
            justify-content: center;
            text-align: center;
        }
    }
