body {
  font-family: Montserrat, sans-serif;
  line-height: 1.8;
  background-color: #f8edeb;
  color: black;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 10px;
  align-items: center;
}

/* --------------------- */
/* #navbar-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}     */
.textCenter {
  text-align: center;
}
h1 {
  text-align: center;
  margin: 0 auto;
}
#subItem1 {
  display: none;
  color: whitesmoke;
}
#subItem2 {
  display: none;
  color: whitesmoke;
}
#subItem3 {
  display: none;
  color: whitesmoke;
}
#subItem4 {
  display: none;
  color: whitesmoke;
}

#carousel-example-generic a.carousel-control {
  height: 26%;
  top: 33%;
  width: 86px;
  background: black;
}

.imagePlacedInCenter {
  margin: 0 auto;
}
#mySearchInput {
  margin-left: 510px;
  border-width: 0px;
  border: none;
  
}
#mySearchButton {
  background-color: #f8edeb;
}
  #mySearchButton a{
    text-decoration: none;
  }

 