body {
  font-family: "Jost", sans-serif;
  line-height: 1.8;
  background-color: #f8edeb;
  color: black;
  margin-left: 90px;
  margin-right: 90px;
  margin-bottom: 25px;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 10px;
  align-items: center;
}

/* --------------------- */
/* #navbar-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}     */
.textCenter {
  text-align: center;
}
h1 {
  text-align: center;
  margin: 0 auto;
}
/* --------------------------- */
#subItem1 {
  display: none;
  color: #5c6064;
}
#item1 a {
  color: #5c6064;
}
#item1 a:hover {
  color: #ac9872;
  cursor: pointer;
}
/* --------------------------- */
#subItem2 {
  display: none;
  color: #5c6064;
}
#item2 a {
  color: #5c6064;
}
#item2 a:hover {
  color: #ac9872;
  cursor: pointer;
}
/* --------------------------- */
#subItem3 {
  display: none;
  color: #5c6064;
}
#item3 a {
  color: #5c6064;
}
#item3 a:hover {
  color: #ac9872;
  cursor: pointer;
}
/* --------------------------- */
#subItem4 {
  display: none;
  color: #5c6064;
}
#item4 a {
  color: #5c6064;
}
#item4 a:hover {
  color: #ac9872;
  cursor: pointer;
}
/* --------------------------- */

#carousel-example-generic a.carousel-control {
  height: 26%;
  top: 33%;
  width: 86px;
  color: #ddbea9;
  background: transparent;
}

.imagePlacedInCenter {
  margin: 0 auto;
  border: 5px solid #dac8bd;
  border-radius: 20px;
  margin: 0px 30px;
}
#mySearchInput {
  margin-left: 600px;
  border-width: 0px;
  border: none;
}
#mySearchButton {
  background-color: #f8edeb;
}
#mySearchButton a {
  text-decoration: none;
}
.imgInCarousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#headerLink {
  text-decoration: none;
  color: inherit;
}
#topBorder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  justify-content: space-around;
  width: 30px;
  position: relative;
  right: 60px;
  bottom: 50px;
  padding: 15px;
  
}
#topBorder a{
  color: #5c6064;
}
#topBorder a:hover {
  color: #ac9872;
}
.footer {
  display: flex;
  flex-direction: row;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(56, 55, 55);
  text-align: center;
}
#footerLogo {
  width: 100px;
  height: 50px;
}
.footer-logo-box a {
  color: rgb(56, 55, 55);
}
.footer-logo-box a:hover {
  color: #ac9872;
}

.footer-logo-box a {
  margin-right: 30px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  bottom: 50px;
}
#mySearchButton a {
  color: #5c6064;
}
#mySearchButton a:hover {
  color: #ac9872;
}
.footer-logo-box a {
  cursor: pointer;
}
.topLogo{
  width: 150px;
  height: 150px;
  position: relative;
 
  bottom: 100px;
  right: 650px;
}
