
body {
  background-image: url("../images/pexels-julia-kuzenkov-1974521.jpg");
  background-size: cover;
  font-family: "Jost", sans-serif;
  font-size: 1.6rem;
  animation: fadeIn ease 1.5s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------------Grid's areas-------------------- */
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.sale {
  grid-area: sale;
}

/* ---------------Grids------------------- */
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "footer footer footer footer footer footer";
  grid-gap: 0px;
  /* background-color: #2196f3; */
  padding: 0px;
}
.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 0px;
  font-size: 30px;
}
.grid-container .item2 {
  text-align: left;
}
.grid-container-sales {
  display: grid;
  grid-template-areas:
    "header"
    "main main main";
  grid-gap: 0px;
  /* background-color: #2196f3; */
  padding: 0px;
}

/* ------------navbar--------------- */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#navbar {
  overflow: hidden;
  z-index: 1;
}
#subItem1 {
  display: none;
  color: #e9eef1;
}
#subItem1 p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#item1 a {
  color: #e9eef1;
}
#item1 a:hover {
  color: #ac9872;
  cursor: pointer;
}
/* ------------navbar--------------- */
#subItem2 {
  display: none;
  color: #e9eef1;
}
#subItem2 p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#item2 a {
  color: #e9eef1;
}
#item2 a:hover {
  color: #ac9872;
  cursor: pointer;
}
/* ------------navbar--------------- */
#subItem3 {
  display: none;
  color: #e9eef1;
}
#subItem3 p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#item3 a {
  color: #e9eef1;
}
#item3 a:hover {
  color: #ac9872;
  cursor: pointer;
}
/* ------------navbar--------------- */
#subItem4 {
  display: none;
  color: #e9eef1;
}
#subItem4 p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#item4 a {
  color: #e9eef1;
}
#item4 a:hover {
  color: #ac9872;
  cursor: pointer;
}
/* ------------navbar--------------- */
#subItem5 {
  display: none;
  color: #e9eef1;
}
#subItem5 p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#item5 a {
  color: #e9eef1;
}
#item5 a:hover {
  color: #ac9872;
  cursor: pointer;
}
/* ------------navbar--------------- */
#subItem6 {
  display: none;
  color: #e9eef1;
}
#subItem6 p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
#item6 a {
  color: #e9eef1;
}
#item6 a:hover {
  color: #ac9872;
  cursor: pointer;
}
/* ------------navbar--------------- */
/* ------------carousel--------------- */
#carousel-example-generic a.carousel-control {
  height: 26%;
  top: 33%;
  width: 86px;
  color: #f1ece8;
  background: transparent;
}
/* ------------footer--------------- */
#footer {
  font-size: 12px;
}

#footerLogo {
  width: 100px;
  height: 50px;
}
/* ------------sidebar--------------- */

.wrapper {
  display: flex;
  width: 100%;
  margin-left: 20px;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  /* Viewport Height */
  min-height: 100vh;
  color: #e9eef1;
  transition: all 0.3s;
  font-size: 15px;
}

#sidebar.active {
  margin-left: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7em;
  color: #01497c;
}

a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  /* background-color: #ddbea9; */
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
  color: #e9eef1;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #61a5c2;
  background-color: #e9eef1;
}

#sidebar ul li > a,
a[aria-expanded="true"] {
  color: #000000;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}
.imgInCarousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imagePlacedInCenter {
  border-radius: 10px;
}

#headerGlyphicon {
  display: inline;
  position: relative;
  left: 300px;
  bottom: 60px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #f1ece8;
}
#headerGlyphicon > a {
  color: #e9eef1;
}

#headerGlyphicon > a:hover {
  color: rgb(190, 154, 76);
}

.sideBarTitle > a {
  font-size: 20px;
  font-weight: bolder;
  color: #000000;
  padding: 0px 10px;
  border-radius: 5px;
}

.sideBarTitle > a:hover {
  color: #61a5c2;
  background-color: #e9eef1;
}

.side-nav {
  grid-row: 2/4;
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: medium;
}
.side-nav-text {
  display: flex;
  writing-mode: vertical-lr;
}
.side-nav-text p {
  padding: 3rem;
  font-size: 15px;
  transform: rotate(180deg);
}
.side-nav-icon {
  display: flex;
  flex-direction: column;
}
.side-nav-icon i {
  padding: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.side-nav-icon i:hover {
  color: #ac9872;
}
#slide {
  position: absolute;
  left: -100%;
 
  
  -webkit-animation: slide 1s forwards;
  /* -webkit-animation-delay: 1s; */
  animation: slide 1s forwards;
  animation-delay: 0.85s;
}
/* 
@-webkit-keyframes slide {
  100% { left: 0; }
} */

@keyframes slide {
  100% { left:80px; }
}